.new-text {
  color: black;
  margin-top: 50px;
  margin-bottom: 40px;
}

.card-large {
  border-radius: 35px;
  box-shadow: 0 4px 6px 0px grey;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
