// Specific CSS for your home-page

.text-home {
  padding: 250px 0;
  text-align: center;
  max-width: 1300px;

}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

body {
  background-image: linear-gradient(#9bf6ff,#bdb2ff);
  min-height: 100vh;
}

.dynamic-text {
  max-width: 100vw;
  margin-top: 250px;
  margin-bottom: 30px;
}

.tagline {
  margin-bottom: 50px;
  text-align: center;
}
