.new-text {
  color: black;
  margin-top: 50px;
  margin-bottom: 40px;
}

.new-job {
  border-radius: 15px;
  box-shadow: 0 2px 2px 2px grey;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  background: white;
}
.bottom-half {
  display: flex;
}

.left-side {
  width: 70%;
  height: 300px;
}
.right-side {
  height: 300px;
  width: 30%;
}


