<div class="container dynamic-text">
  <script src="typed.js"></script>

  <div class="container text-home">
    <div class="header">
      <h1>I do my best work <span id="typed"></span></h1>
    </div>
  </div>
</div>

<div class="tagline">
  <h2>The coolest jobs on earth.</h2>
</div>

<div class="button-home">
  <%= link_to "Find awesome work 🎉", jobs_path, class: "button-home-text" %>
</div>


