// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.body {
  background: linear-gradient(90deg, rgba(155,246,255,1) 0%, rgba(253,255,182,1) 88%, rgba(189,178,255,1) 100%);
}


.pay {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 18px;
  text-shadow: -1px 0px 5px black;
}

.start {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
  text-shadow: -1px 0px 5px black;
}

.deadline {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  text-shadow: -1px 0px 5px black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
}

.card-description {
  font-size: 12px;
}

.my-jobs {
  width: 100%;
}
.job-salary {
  display: flex;
  align-items: end;
  display: flex;
  justify-content: center;
  p {
    margin: 8px;
  }
}
.my-profile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
